<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        li {
            display: inline-block;
            border: 1px solid black;
            padding: 10px;
        }
        a {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
<ol>
    {% for item in items %}
        <li>
            <a href="/item/{{ item.id }}"> {{ item.name }}</a>
            <div>
                {{ item.description }}
            </div>
        </li>
    {% endfor %}
</ol>
<a href="{% url 'home' %}">Домой</a>
</body>
</html>